.hero{
    background:
    linear-gradient(rgba(5,26,53,.80),
    rgba(5,26,53,.80)),
    url('../imagens/banner-home.jpg');

    background-size:cover;
    background-position:center;
    color:#fff;
    padding:110px 0;
}

.hero-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;
}

.hero h1{
    font-size:55px;
    line-height:1.1;
    margin-bottom:25px;
}

.hero span{
    color:#FFC107;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.hero li{
    margin-bottom:15px;
    font-size:20px;
}

.hero li i{
    color:#FFC107;
    margin-right:10px;
}

.hero-image img{
    max-width:500px;
    margin:auto;
}

.titulo{
    font-size:40px;
    text-align:center;
    margin-bottom:60px;
}

.diferenciais{
    padding:90px 0;
    background:#f5f7fa;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#fff;
    padding:40px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.sobre{
    padding:100px 0;
}

.sobre-grid{
    display:grid;
    grid-template-columns:400px 1fr;
    gap:60px;
    align-items:center;
}

.sobre img{
    border-radius:20px;
}

.servicos{
    padding:100px 0;
    background:#051A35;
}

.servicos .titulo{
    color:#fff;
}

.servicos-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.servico{
    background:#0c2d59;
    color:#fff;
    padding:35px;
    border-radius:20px;
    text-align:center;
}

.cta{
    background:#FFC107;
    padding:100px 0;
    text-align:center;
}

.cta h2{
    font-size:45px;
    margin-bottom:20px;
}

.cta p{
    margin-bottom:35px;
    font-size:22px;
}

.btn{
    display:inline-block;
    background:#25D366;
    color:#fff;
    padding:18px 35px;
    border-radius:50px;
    font-weight:700;
}