body{
    background:
    linear-gradient(rgba(5,26,53,.95),
    rgba(5,26,53,.95)),
    url('../imagens/banner-home.jpg');

    background-size:cover;
    background-position:center;
}

.links-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px 20px;
}

.links-box{
    max-width:550px;
    width:100%;
    background:#fff;
    padding:50px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 20px 60px rgba(0,0,0,.4);
}